<!DOCTYPE html>
<html lang="en-US" ng-app="pedidoApp">
<head>
    {% include "App/template/header.html" %}
    {% include "App/template/bootstrap.html" %}
    <script src="{{ STATIC_URL }}App/pedido/pedidoApp.js"></script>
    <script src="{{ STATIC_URL }}App/pedido/pedidoCtrl.js"></script>
</head>
<body ng-controller="pedidoCtrl">
    {% include "App/template/top.html" %}
    <div>
        <h1>Pedidos <a href="/pedido/cadastrar" class="btn btn-info">Adicionar pedido</a></h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="info">
                    <td width="50px">#ID</td>
                    <td>Cliente</td>
                    <td width="180px">Valor total</td>
                    <td width="180px">Status</td>
                    <td width="200px">Data</td>
                    <td width="230px">Opcoes</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="_pedido in pedidos">
                    <td>{[{_pedido.id}]}</td>
                    <td>{[{_pedido.cliente.nome}]}</td>
                    <td>R$ {[{_pedido.total}]}</td>
                    <td>{[{_pedido.status_description}]}</td>
                    <td>{[{_pedido.data_hora}]}</td>
                    <td>
                        <button ng-click="enviarEmail($index, _pedido.id)" class="btn btn-warning btn-xs">Enviar e-mail</button>
                        <a href="/pedido/alterar/{[{_pedido.id}]}" class="btn btn-info btn-xs">Editar</a>
                        <button ng-click="removerPedido($index, _pedido.id)" class="btn btn-danger btn-xs">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>