<!DOCTYPE html>
<html lang="en-US" ng-app="pedidoApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="pedidoApp.js"></script>
<script src="pedidoCtrl.js"></script>


<body ng-controller="pedidoCtrl">

    <table>
        <thead>
            <th>Numero do pedido</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Status</th>
        </thead>
        <tr ng-repeat="pedido in pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.cliente}}</td>
            <td>R$ {{pedido.total}}</td>
            <td>{{pedido.status}}</td>
            <td>
                <button ng-click="editarPedido($index)">Editar</button>
            </td>
            <td>
                <button ng-click="removerPedido($index)">Remover</button>
            </td>
        </tr>
    </table>
</body>
</html>