<!DOCTYPE html>
<html lang="en-US" ng-app="pedidoApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="pedidoApp.js"></script>
<script src="pedidoCtrl.js"></script>


<body ng-controller="pedidoCtrl">

<div >

    <p> Cliente:
    <select ng-model="pedido.cliente">
        <option data-ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.nome}}</option>
    </select>

    <p>
        Produto:
        <select ng-model="index_produto">
            <option data-ng-repeat="produto in produtos" value="{{$index}}">{{produto.nome}}</option>
        </select><br/>
        Quantidade: <input type="text" data-ng-model="item.quantidade"><br/>
        Desconto:   <input type="text" data-ng-model="item.desconto">%<br/>
        <button ng-click="adicionarItem()">Adicionar Produto</button>
    </p>

    <datalist id="_produtos">
        <option data-ng-repeat="produto in produtos" value="{{produto.nome}}"/>
    </datalist>

    <button ng-click="gerarPedido()">Gerar Pedido</button>

    <table>
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Valor Unitario</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>Valor Final</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pedido.itens">
                <td>{{item.produto.nome}}</td>
                <td>R$ {{item.produto.valor}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.desconto}}%</td>
                <td>R$ {{item.produto.valor*item.quantidade*(1-item.desconto/100)}}</td>
            </tr>
        </tbody>

    </table>

    <!-- Grid de resultado, isolar num html separado -->
    <!-- <table>
        <thead>
            <th>Numero do pedido</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Status</th>
        </thead>
        <tr ng-repeat="pedido in pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.cliente}}</td>
            <td>R$ {{pedido.total}}</td>
            <td>{{pedido.status}}</td>
            <td>
                <button ng-click="editarPedido($index)">Editar</button>
            </td>
            <td>
                <button ng-click="removerPedido($index)">Remover</button>
            </td>
        </tr>

    </table> -->

</div>

</body>
</html>