<!DOCTYPE html>
<html lang="en-US" ng-app="pedidoApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="pedidoApp.js"></script>
<script src="pedidoCtrl.js"></script>


<body ng-controller="pedidoCtrl">

<div>
    <form name="pedido_form" class="simple-form">
        <p> Cliente:
            <select name="pedido_cliente" ng-model="pedido.cliente" ng-required="true">
                <option data-ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.nome}}</option>
            </select>

        <p>
            Produto:
            <select name="produto_pedido" ng-model="index_produto">
                <option data-ng-repeat="produto in produtos" value="{{$index}}">{{produto.nome}}</option>
            </select><br/>
            Quantidade: <input name="quantidade_produto_pedido" type="number" data-ng-model="item.quantidade" min="1"
                               ng-required="true"><br/>
            Desconto: <input name="desconto_produto_pedido" type="number" min="0" max="100"
                             data-ng-model="item.desconto" ng-required="true">%<br/>
            <button type="submit" ng-click="adicionarItem()"
                    ng-disabled="pedido_form.produto_pedido.$invalid || pedido_form.quantidade_produto_pedido.$invalid || pedido_form.desconto_produto_pedido.$invalid">
                Adicionar Produto
            </button>
        </p>

        <datalist id="_produtos">
            <option data-ng-repeat="produto in produtos" value="{{produto.nome}}"/>
        </datalist>

        <button type="submit" ng-click="gerarPedido()"
                ng-disabled="pedido.itens.length < 1 || pedido_form.pedido_cliente.$invalid">Gerar Pedido
        </button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Nome do produto</th>
            <th>Valor Unitario</th>
            <th>Quantidade</th>
            <th>Desconto</th>
            <th>Valor Final</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in pedido.itens">
            <td>{{item.produto.nome}}</td>
            <td>R$ {{item.produto.valor}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.desconto}}%</td>
            <td>R$ {{item.produto.valor*item.quantidade*(1-item.desconto/100)}}</td>
        </tr>
        </tbody>

    </table>

    {{pedidos}}

</div>

</body>
</html>