<!DOCTYPE html>
<html lang="en-US" ng-app="clienteApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="clienteApp.js"></script>
<script src="clienteCtrl.js"></script>


<body ng-controller="clienteCtrl">

<div >
 	<form name="cliente_form" class="simple-form">
        <p>Nome : <input type="text" ng-model="cliente.nome" name="cliente_nome" ng-required="true"></p>
        <p>E-mail : <input type="email" ng-model="cliente.email" name="cliente_email" ng-required="true"></p>
        <button type="submit" ng-click="adicionaCliente()" ng-disabled="cliente_form.$invalid">Adicionar</button>
    </form>

    <table>
        <thead>
            <th>Nome</th>
            <th>E-mail</th>
        </thead>
        <tr ng-repeat="cliente in clientes">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>
                <button ng-click="removerCliente($index)">Remover</button>
            </td>
        </tr>

    </table>

</div>

</body>
</html>