<!DOCTYPE html>
<html lang="en-US" ng-app="produtoApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="{{ STATIC_URL }}App/requests.js"></script>
    <script src="{{ STATIC_URL }}App/produto/produtoApp.js"></script>
    <script src="{{ STATIC_URL }}App/produto/produtoCtrl.js"></script>
</head>
<body ng-controller="produtoCtrl">
    <div>
        <p>Nome : <input type="text" ng-model="produto.nome" name="nome"></p>
        <p>Valor : <input type="text" ng-model="produto.valor" name="valor"></p>
        <button ng-click="adicionaProduto()">Adicionar</button>
        <table>
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor</th>
            </thead>
            <tr ng-repeat="produto in produtos">
                <td>{[{produto.id}]}</td>
                <td>{[{produto.nome}]}</td>
                <td>{[{produto.valor}]}</td>
                <td>
                    <button ng-click="removerProduto($index, produto.id)">Remover</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>